.main-box {
  background: var(--bg-body);
}

.box-header {
  height: 40px;
}

.box-header .row {
  flex-wrap: nowrap;
  padding: 0 15px;
}

.box-header-child {
  padding: 0 !important;
}

.category-name-label label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-top: -0.03125rem; /* Aproximado de -0.5px */
}

.search-box-child {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.add-prof-box {
  background: var(--light-gray-1);
  height: 60vh;
}

.repeater-showcardsprofiles {
  gap: 10px;
}

.lbl-speciality-child,
.especiality-label-child {
  font-size: var(--font-size-small);
}

.title-cards-header-child {
  font-size: var(--font-size-large);
}

.search-box {
  background: var(--gradient-search);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.repeater-RepeaterEspecialities-content {
  display: flex;
  justify-content: space-evenly;
}

.inside-search-box ez-edit-form-fields .row {
  border-bottom: 1px solid var(--text-black);
  justify-content: space-between;
}

.btn:focus,
.btn.focus {
  outline: none;
  box-shadow: none;
}

.local-ico {
  width: auto;
}

.services-box ez-edit-form-fields .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-title-profissional {
  color: var(--mp-dark-0);
  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: -0.05rem; /* Aproximado de -0.8px */
}

.search-title-profissional-child {
  font-size: var(--font-size-xlarge);
  margin-bottom: 0;
}

.box {
  height: 10vh;
}

.services-box .group-box {
  max-height: 80px;
}

.show-cards-profiles {
  border-radius: var(--border-radius-small);
  background: var(--mp-light-light);
  max-width: 260px;
  width: 100%;
  max-height: 350px;
}

.repeater-showcardsprofiles-content.row {
  gap: 15px;
}

.btn-appointments button {
  height: 40px;
}

.profile-image {
  display: flex;
  justify-content: center;
  height: 100px;
}

.profile-image ez-img-input .card {
  background-color: transparent;
  border: none;
}

.profile-image ez-img-input .card-img {
  object-fit: cover;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.btn-schedule-service-child {
  letter-spacing: 0.025rem; /* Aproximado de 0.4px */
  font-weight: var(--font-weight-normal);
}

.pro-name label {
  color: var(--mp-dark-0);
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: -0.032rem; /* Aproximado de -0.513px */
  text-transform: capitalize;
}

.profissional-area {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 76.899px;
  height: 29.478px;
}

.profissional-area label {
  font-size: var(--font-size-small);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  letter-spacing: -0.019rem; /* Aproximado de -0.308px */
  margin: 5px 0;
  padding: 7px 15px;
  border-radius: 20.506px;
  background: var(--profissional-area-bg);
}

.category {
  width: 100px;
}

.category label {
  color: var(--font-gray);
  font-size: var(--font-size-medium-plus);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  letter-spacing: -0.0256rem; /* Aproximado de -0.41px */
}

.input-search-profissional input {
  background: transparent;
  border: none;
  z-index: 9999;
}

.input-search-profissional input::placeholder,
.input-search-profissional ez-autocomplete > div > input::placeholder {
  color: var(--font-gray);
  font-size: var(--font-size-medium);
}

.input-search-profissional input:focus {
  border: none;
  cursor: default;
  box-shadow: none;
}

.btn-search-profissional button {
  background: transparent;
  border: none;
  color: var(--text-black);
  display: flex;
  padding: 0;
}

.btn-search-profissional i {
  width: auto;
  height: auto;
  flex-shrink: 0;
  font-size: var(--font-size-medium);
  margin-left: auto;
}

.user-location label {
  color: var(--mp-dark-0);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  text-decoration-line: underline;
}

.mkt-msg-ask label {
  color: var(--text-black);
  text-align: center;
  font-family: Inter;
  font-size: var(--font-size-xxlarge);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

.msg-mkt label {
  color: var(--text-black);
  text-align: center;
  font-family: Inter;
  font-size: 1.75rem; /* 28px */
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
}

.input-mkt input {
  border-radius: 20px;
  background: var(--input-bg);
  flex-shrink: 0;
}

.add-prof-box ez-edit-form-fields .row {
  background: var(--light-gray-1);
  display: flex;
  justify-content: center;
}

.icon-helth img#Image {
  max-width: 40px;
  max-height: 40px;
}

.especiality-label:hover,
.especiality-label label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown2-menu {
  font-size: var(--font-size-small);
  text-align: center;
  list-style: none;
  background-color: var(--dropdown-menu-bg);
}

.box .group-box {
  z-index: initial;
}

.pro-name-child {
  cursor: pointer;
}

.pro-name-child:hover {
  text-decoration: underline;
}

.drop-busca-local {
  margin: 0;
  height: fit-content;
}

.drop-busca-local select,
.drop-busca-local input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--text-black);
  border-radius: 0;
}

.drop-busca .dropdown2-menu {
  border: 1px solid var(--dropdown-border) !important;
}

.drop-busca .dropdown-item.active {
  color: var(--text-black);
  background-color: var(--dropdown-active-bg);
}

.drop-busca input,
.drop-busca input:focus {
  background: transparent;
  border-radius: 0;
}

.drop-busca-local select:focus,
.drop-busca-local input:focus {
  background: transparent;
  box-shadow: none;
}

.pagelocation-dot {
  max-width: fit-content;
  padding: 0;
  margin: 0;
  margin-block: auto !important;
  height: fit-content;
}

.drop-busca-local ez-autocomplete br {
  display: none;
}

.drop-busca-local select,
.drop-busca-local input {
  text-align: center;
}

.search-container-Schedule {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container-Schedule .search-icon {
  position: absolute;
  right: 1.5rem;
  font-size: var(--font-size-medium-plus);
  color: var(--text-black);
  cursor: pointer;
}

.input-search-profissional-child {
  padding-right: 30px;
}

@media screen and (min-width: 1920px) {
  .main-box {
    max-width: 1600px;
  }
}

@media (max-width: 991px) {
  .repeater-showcardsprofiles-content {
    display: flex;
    justify-content: center;
  }

  .show-cards-profiles {
    max-width: 80%;
  }

  .title-cards-header {
    padding: 0px 0px 0px 15px !important;
  }

  .box-header-child {
    padding: 0 15px 0 15px !important;
  }

  .main-box-child {
    padding-inline: 1rem;
  }
}

@media (max-width: 575px) {
  .repeater-showcardsprofiles {
    justify-content: center;
  }

  .title-cards-header-child {
    text-align: center;
  }

  .search-title-profissional-child {
    font-size: 1.25rem; /* 20px */
  }
}